<%= form_for(@social_site) do |f| %>
  <% if @social_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@social_site.errors.count, "error") %> prohibited this social_site from being saved:</h2>

      <ul>
      <% @social_site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :api_token %><br>
    <%= f.text_field :api_token %>
  </div>
  <div class="field">
    <%= f.label :user_identifier %><br>
    <%= f.text_field :user_identifier %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
