<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @social_site.name %>
</p>

<p>
  <strong>Api token:</strong>
  <%= @social_site.api_token %>
</p>

<p>
  <strong>User identifier:</strong>
  <%= @social_site.user_identifier %>
</p>

<p>
  <strong>User:</strong>
  <%= @social_site.user_id %>
</p>

<%= link_to 'Edit', edit_social_site_path(@social_site) %> |
<%= link_to 'Back', social_sites_path %>
