<%= form_for(@rss_feed_subscription) do |f| %>
  <% if @rss_feed_subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rss_feed_subscription.errors.count, "error") %> prohibited this rss_feed_subscription from being saved:</h2>

      <ul>
      <% @rss_feed_subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :rss_feed_id %><br>
    <%= f.text_field :rss_feed_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
