<!DOCTYPE html>
<html>
<head>
  <title>Machhariya</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p><%= flash[:notice] %><span style='color: red'><%= flash[:error] %></span><span style='color: orange'><%= flash[:alert] %></span></p>
<%= yield %>

</body>
</html>
